*{
    font-family: "Open Sans", sans-serif;
    margin: 0;
    padding: 0;
}

.primary-color{
    color: #FF7A00;
}
.text-color{
    color: #181818;
}

header {
    background-color: #FFF8F3;
    background-image: url('../images/header_bg.png'), url('../images/Developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, 70px 40px;
    background-size: 780px, 90px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 50px;
}

nav .logo-text {
    font-size: 45px;
    font-weight: 900;
    text-decoration: none;
}

nav  ul {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav li {
    list-style: none;
    margin-left: 50px ;
    font-size: 20px;
}

nav a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}

nav a:hover {
    color: #FF7A00;
    transition: all 0.1s ease-in-out;
}

.primary-btn {
    padding: 20px 35px;
    border-radius: 10px;
    font-size: 20px;
    background-color: #FF7A00;
    font-weight: 800;
    color: #FFFFFF;
    border: none;
}

.secendary-btn {
    padding: 18px 35px;
    border-radius: 10px;
    font-size: 20px;
    background-color: transparent;
    font-weight: 800;
    color: #FF7A00;
    border: 2px solid #FF7A00;
    margin-left: 20px;
}

.hero-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1140px;
}

.bannar-content {
    margin-bottom: 50px;
}

.hero-container  h3 {
    color: #474747;
    font-size: 45px;
    font-weight: 600;
    margin:  0 0 20px 0;
}

.hero-container h2 {
    color: #181818;
    font-size: 75px;
    font-weight: 800;
    margin: 0;
}

.hero-container p {
    color: #757575;
    line-height: 30px;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 20px;
}

.image-container {
    height: auto;
}

.image-container .profile {
    position: relative;
    object-fit: cover;
    height: 676px;
    right: -200px;
    top: 5px;
}

/* About Section */

.about-cont {
    background-color: #FFF8F3;
    max-width: 1140px;
    color: #181818;
    margin: 120px auto;
    padding: 1px 0;
}

.about {
    max-width: 810px;
    margin: 100px auto;
    background-color: #fff;
    border: 2px solid #000;
    padding: 50px;
}

.about-text h2 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;
    text-align: center;
}

.about-text p {
    font-size: 18px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    color: #757575;
}

.about-info ul {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    list-style: none;
}



.about-info li p {
    margin-top: 10px;
    color: #757575;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    margin-bottom: 5px;
}

.about-info li h5 {
    font-weight: 600;
    color: #474747;
    font-size: 20px;
    text-align: center;
}

/* About of dev skill css */

.skill-cont {
    max-width: 1140px;
    margin: 0 auto;
    height: 578px;
}

.text-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-cont h2 {
    font-size: 36px;
    font-weight: 800;
    margin-bottom: 20px;
    color: #181818;
}

.text-cont  p {
    padding: 0 140px;
    color: #757575;
    text-align: center;
}

.skill {
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
    gap: 30px;
}

.all-skills {
    max-width: 267px;
    padding: 40px;
    border-radius: 5px;
    color: #181818;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.all-skills img {
    width: 42px;
    height: 42px;
    margin-bottom: 20px;
}

.all-skills h3 {
    font-size: 20px;
    font-weight: 800;
    color: #181818;
    margin-bottom: 15px;
}

.all-skills p {
    font-size: 16px;
    line-height: 28px;
    color: #757575;
}

/* Summary Section */

.summery-cont {
    max-width: 1140px;
    margin: 130px auto;
}

.sum-header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.summery-text {
    display: flex;
    margin-top: 30px;
    justify-content: center;
    gap: 50px;
    color: #474747;
}

.sum-items div {
    margin-top: 20px;
}
.sum-items h3 {
    color: #474747;
}
.sum-items h4 , p {
    color: #757575;
    margin-bottom: 15px;
}
.sum-items h4 {
    
    font-size: 20px;
    font-weight: 600;
}

.down-btn {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

